{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch %}
<ul class="superfishtree-menu-level-{{ branch_level }}">
    {% for page in page_branch %}

    {% if page.in_navigation %}
    <li class="{% if page.is_current_or_ascendant %}active{% endif %}
        {% if not top_level and forloop.first %} first{% endif %}
        {% if forloop.last %} last{% endif %}"
        id="superfishtree-menu-{{ page.html_id }}">
        <a href="{% url page page.slug %}">{{ page.title }}</a>
        {# remove this if tag to always show all nav items #}
        {% if settings.PAGES_MENU_SHOW_ALL or page.is_current_or_ascendant %}
        {% page_menu page %}
        {% endif %}
    </li>
    {% endif %}

    {% endfor %}
</ul>
{% endif %}
{% endspaceless %}